on: [workflow_dispatch]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - name: Hello world action step
        id: hello
        uses: geovanams/actionteste@v1.1.7
        with:
          name: 'Mona the Octocat'
